body {
    margin: 0;
    padding: 0;
}

@media (min-width:1441px) {
    .container {
        max-width: 1440px;
    }
}

footer {
    background: #021F2E;
    padding-top: 60px;
  
}


.footer-tl1 {
    display: flex;
    justify-content: space-between;
}


.inner-footer {
    display: flex;
    gap: 32px;
}

.footer-gk-pro {
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-decoration: underline;
    color: #FFFFFF;

}

.footer-1 p {
    font-family: "Urbanist";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    color: #9AA5AB;
    padding-top: 16px;
    margin: 0;


}

.footer-1 {
    flex: 0 0 33%;
}

.courses {
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FFFFFF;

}
.courses-list{
    display: flex;
    flex-direction: column;
    gap:8px;
    padding: 0;
}

.courses-list a{
    list-style: none;

    font-family: "Urbanist";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
   


}

.courses-list a {
    text-decoration: none;
    opacity: 60%;
    color: #FFFFFF;
}
.courses-list li:first-child { /* Assuming the first child is a list item */
    margin-top: 20px !important; /* Ensure it applies */
}
.address-list {
    color: #9AA5AB;
    font-family: "Urbanist";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    margin: 0;
    padding-left: 22px;


}

.footer-tl {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.social-tl {
    max-width: 48px;
    max-height: 48px;
}

.footer-courses,
.footer-quicklinks,
.footer-address {
    flex: 0 0 33%;
}

.footer-tl1 {
    width: 100%;
}

.footer-courses,
.footer-quicklinks {
    display: flex;
    flex-direction: column;
}

.social-logos{
    display: flex;
    gap: 16px;
    padding-top: 48px;
}
.lower-inner-footer{
    text-align: center;
    font-family: "Urbanist";
font-weight: 400;
font-size: 16px;
line-height: 19.2px;
letter-spacing: 0%;
color: #FFFFFF;
padding-top: 24px;
padding-bottom: 60px;

}