* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading-font: "Urbanist", serif;
    --text-font:  "Manrope", serif;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1296px;
        padding: 0;
    }
}
img{
    max-width: 100%;
}
input:focus{
    outline: none;
    box-shadow: none;
}
select:focus{
    outline: none;
    box-shadow: none;
}

.our-courses-banner{
    background: #F8F8F8;
    position: relative;
    padding-top: 100px;
}
.banner-img{
    text-align: right;
}
.our-course-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-img{
    margin-right: -120px;
    margin-bottom: -17px;
}
.our-course-content h1{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    color: #13031F;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 100px;
}
.our-course-grid{
    padding-top: 84px;
    padding-bottom: 65px;
}
.course-filter{
    border: 1px solid #00000033;
    padding: 24px;
    border-radius: 16px;
}
.course-filter h3{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 17px;
}

.filter-label input[type="checkbox"] {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 0.77px solid #00000033;
    border-radius: 3.08px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.filter-label input[type="checkbox"]:checked {
    background-color: #000;
}

.filter-label input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter-label label{
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    gap: 13px;
}
.filter-label:last-child label{
    margin-bottom: 0;
}
.course-grid-header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 28px;
}
.course-grid-header p{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000;
    margin-bottom: 0;
}
.course-grid-header select{
    border: 1px solid #00000033;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000;
    appearance: none;
    padding: 8px 60px 8px 16px;
    background: url(../images/select-after.svg);
    background-size: 12px;
    background-position: calc(100% - 16px);
    background-repeat: no-repeat;
}
.course-grid{
    padding: 8px;
    border: 1px solid #F3F3F3;
    border-radius: 12px;
    position: relative;
    margin-bottom: 20px;
}
.rev-img{
    position: absolute;
    top: 14px;
    right: 14px;
    box-shadow: 0px 4px 40px 0px #212B3314;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 6px;
    gap: 9px;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #101010;
}
.course-grid:hover a.course-title{
    color: #C23743;
}
.course-grid:hover .course-img img{
    transform: scale(1.2);
}
.course-img{
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 16px;
}
.course-img img{
    transition: .5s;
    width: 100%;
}
.course-grid .course-title{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.5px;
    color: #000929;
    box-shadow: 0px 4px 134px 0px #00000014;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}
.course-grid .course-duration{
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000929;
    margin-bottom: 16px;
}
.course-grid .course-duration span{
    font-weight: 500;
}
.course-modules{
    display: flex;
    align-items: center;
    gap: 19px;
    border-bottom: 1px solid #0000001A;
    padding-bottom: 8px;
}
.course-modules .cmdiv{
    box-shadow: 0px 4px 134px 0px #00000014;
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #101010; 
    display: flex;
    align-items: center;
    gap: 8px;   
}
.course-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.course-price h4{
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: 0%;
    color: #000;
    box-shadow: 0px 4px 134px 0px #00000014;
    margin-bottom: 0;
}
.course-price a{
    padding: 10px 32px;
    background: #C23743;
    border-radius: 8px;
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    transition: .5s;
}
.course-price a:hover{
    background: #0B0D50;
}
@media (max-width:1440px){
    .banner-img {
        margin-right: -60px;
    }
}
@media (max-width:1200px){
    .course-archive-page .tutor-row {
        padding-top: 0;
    }
}
@media (max-width: 1240px) {
    .banner-img {
        margin-right: -30px;
    }
    .course-price h4 {
        font-size: 20px;
        line-height: 28.78px;
    }
    .course-price a {
        padding: 8px 18px;
        font-size: 15px;
    }
    .course-archive-page{
        margin-top: 40px;
    }
}

@media (max-width: 1024px) {
    .our-course-content h1 {
        font-size: 44px;
        line-height: 56.8px;
    }
    .filter-label label {
        font-size: 13px;
        line-height: 16.86px;
    }
}
@media (max-width:991px){
    .our-course-content {
        flex-direction: column;
    }
    .our-course-content h1 {
        margin-top: 40px;
    }
    .course-filter {
        margin-bottom: 30px;
    }
}
@media (max-width:767px){
    .our-courses-banner {
        padding-top: 50px; 
    }
    .our-course-grid {
        padding-top: 54px;
        padding-bottom: 35px;
    }
    .banner-img {
        margin-right: 0;
        margin-bottom: -12px;
    }
    .our-course-content h1 {
        font-size: 36px;
        line-height: 48.8px;
    }
    /* .course-grid-header p {
        font-size: 16px;
        line-height: 20px;
    } */
    .course-grid-header {
        align-items: start;
        margin-bottom: 20px;
        flex-direction: column-reverse;
    }
    .course-grid-header p{
        margin-top: 16px;
    }
    .course-archive-page .tutor-row {
        padding-bottom: 40px;
    }
    
    .tutor-row .course-filter-main{
        flex-direction: column;
    }
    .course-count {
        margin-bottom: 15px;
    }
}


